html, body {
    margin: 0;
    background-color: white
    }

#draw{
  background-color: black;
}

h1{
  font-family: "Lobster", cursive;
  font-size:3em;
  color:rgb(95, 11, 121)
}
  

.brush:hover{
  color:grey
}

.smalldot{
  font-size: 10px;
}